[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clean-text = "*"
pymongo = "*"
uvicorn = {extras = ["standard"], version = "*"}
sanic = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn main:app --reload"

[pipenv]
allow_prereleases = true
